<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/Others/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/camera")
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/nn-style.css" rel="stylesheet" />
</head>
@{
    var isHomeActive = ViewData["Home"] != null ? "active" : "";
    var isIntroduceActive = ViewData["Introduce"] != null ? "active" : "";
    var isServiceActive = ViewData["Service"] != null ? "active" : "";
    var isProductActive = ViewData["Product"] != null ? "active" : "";
    var isInfoActive = ViewData["Info"] != null ? "active" : "";
    var isContactActive = ViewData["Contact"] != null ? "active" : "";
}
<body data-twttr-rendered="true"  style="background: url('../../Content/img/banner/nenmoi_01.png') no-repeat top center;">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="@isHomeActive"><a href="~/Home/">TRANG CHỦ</a></li>
                    <li class="@isIntroduceActive"><a href="~/Home/Introduce/">GIỚI THIỆU</a></li>
                    <li class="@isProductActive"><a href="~/Home/Product/">SẢN PHẨM</a></li>
                    <li class="@isServiceActive"><a href="~/Home/Service/">DỊCH VỤ</a></li>
                    <li class="@isInfoActive"><a href="~/Home/Info/">TIN TỨC-TÀI LIỆU</a></li>
                    <li class="@isContactActive"><a href="~/Home/Contact/">LIÊN HỆ</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container"  >
        <header class="nn-banner">
            <div class="row">
                <div class="col-md-12 col-xs-12" style="padding-top: 75px;">
                    @*<embed src="~/Content/img/banner/banner.swf" quality="high" type="application/x-shockwave-flash">*@
@if (!Request.Browser.IsMobileDevice)
{
                    @*<img src="~/Content/img/banner/banner.png" />*@
    <embed width="940" height="215" src="~/Content/img/banner/banner.swf" quality="high" type="application/x-shockwave-flash">
}
                </div>
            </div>
            @*<div class="col-sm-3 col-md-3 nn-text-align-center">
                    <a href="/"><img src="/Content/img/logo.png" class="img-responsive" /></a>
                    <embed width="940" height="215" src="~/Content/img/banner/banner.swf" quality="high" type="application/x-shockwave-flash">
                </div>*@<!--end logo-->
            @*<div class="col-md-8 col-sm-8">
                    @Html.Partial("_Search")
                </div>*@<!--end search box-->
        </header>

        @*<div class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home "></span></a>
                </div>

                <div class="navbar-collapse collapse js-navbar-collapse">
                    @Html.Partial("_Menu");
                </div>
            </div>*@<!--end navigation-->
        <div class="row content">
            <div class="col-md-3 col-xs-12">
                @Html.Action("Category", "Home")
            </div><!--end left-sidebar-->
            <div class="col-md-9 col-xs-12">
                @RenderBody()
            </div>
            @*<div class="col-sm-2 sidenav">
                    <div class="well">
                        <p>ADS</p>
                    </div>
                    <div class="well">
                        <p>ADS</p>
                    </div>
                </div>*@
        </div>
        <div class="row nn-margin-top30px">
            @Html.Partial("_Footer")
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<noembed />