<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/Others/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/camera")
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/nn-style.css" rel="stylesheet" />
</head>
@{
    var isHomeActive = ViewData["Home"] != null ? "active" : "";
    var isIntroduceActive = ViewData["Introduce"] != null ? "active" : "";
    var isServiceActive = ViewData["Service"] != null ? "active" : "";
    var isProductActive = ViewData["Product"] != null ? "active" : "";
    var isInfoActive = ViewData["Info"] != null ? "active" : "";
    var isContactActive = ViewData["Contact"] != null ? "active" : "";
}
<body data-twttr-rendered="true"  style="background: url('../../Content/img/banner/nenmoi_01.png') no-repeat top center;">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="@isHomeActive"><a href="~/Admin/account/login/">TRANG CHỦ</a></li>
                    @*<li class="@isIntroduceActive"><a href="~/Home/Introduce/">GIỚI THIỆU</a></li>
                    <li class="@isProductActive"><a href="~/Home/Product/">SẢN PHẨM</a></li>
                    <li class="@isServiceActive"><a href="~/Home/Service/">DỊCH VỤ</a></li>
                    <li class="@isInfoActive"><a href="~/Home/Info/">TIN TỨC-TÀI LIỆU</a></li>
                    <li class="@isContactActive"><a href="~/Home/Contact/">LIÊN HỆ</a></li>*@
                </ul>
            </div>
        </nav>
    </header>
    <div class="container"  >
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<noembed />