@model StudentDetail

@{
    ViewBag.Title = "Quản lý học viên";
    var linkBack = "/Admin/Home/Detail/" + Model.StudentID.ToString();
}

<h2>Quản lý học viên</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#add-tab" role="tab" data-toggle="tab">Add</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane active" id="add-tab">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "add-detail" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <br />
            <br />

            <div class="form-group">
                <label for="Date" class="col-md-2 control-label">Ngày tháng:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Date, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="Study" class="col-md-2 control-label">Tình hình học tập:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Study, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="Violate" class="col-md-2 control-label">Tình hình vi phạm:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Violate, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="Supervisor" class="col-md-2 control-label">Người đánh giá:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Supervisor, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group hidden">
                @Html.TextBoxFor(m => m.StudentID, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">

                    <button class="btn btn-add btn-default">Add</button>
                    <button onclick="form.action = '@linkBack'" class="btn btn-info">Back</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $(document).ready(function () {
                $("#Date").datepicker();
                CKEDITOR.replace("Study");
                CKEDITOR.replace("Violate");
                $(".btn-add").on("click", function () {
                    $("form").submit(function (event) {
                        event.preventDefault();
                    });
                    var form = $('#add-detail');
                    var model = form.serializeObject();
                    var study = CKEDITOR.instances.Study.getData();
                    var violate = CKEDITOR.instances.Violate.getData();
                    model.StudentID = $('#StudentID').val();
                    model.Supervisor = $('#Supervisor').val();
                    model.Study = study;
                    model.Violate = violate;
                    $.ajax({
                        url: "/Admin/Home/AddDetailReponse",
                        contentType: 'application/json',
                        type: 'POST',
                        data: JSON.stringify({ model: model }),
                        success: function (response) {
                            window.location.href = "/Admin/Home/Detail/" + response   
                        }
                    });
                });
            });
        })
    </script>
}