@model Student
@{
    ViewBag.Title = "Quản lý học viên";
}

<h2>Quản lý học viên</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#add-tab" role="tab" data-toggle="tab">Edit</a></li>
    @*<li class="active"><a href="#edit-tab" role="tab" data-toggle="tab">Edit</a></li>*@
    @*<li><a href="#list-tab" role="tab" data-toggle="tab">List</a></li>*@
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane active" id="add-tab">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                <label for="FullName" class="col-md-2 control-label">Họ và tên:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                </div>
            </div>

            @*<div class="form-group">
                    <label for="Gender" class="col-md-4 control-label">Giới tính:</label>
                    <div class="col-md-1">
                        @Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })
                    </div>
                </div>*@

            <div class="form-group">
                <label for="DateOfBirth" class="col-md-2 control-label">Ngày tháng năm sinh:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="StudentCode" class="col-md-2 control-label">Mã khóa học:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.StudentCode, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="DateOfBirth" class="col-md-2 control-label">Ngày:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.NoteDate, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Note, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", rows = "10", cols = "55" })
                </div>
            </div>

            <div class="form-group hidden">
                <div class="col-md-8 hidden">
                    @Html.TextAreaFor(m => m.StudentID, new { @class = "form-control", rows = "10", cols = "55" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">

                    <button onclick="form.action = '/Admin/Home/Update'" class="btn btn-default">Update</button>
                    <button onclick="form.action = '/Admin/Home/Index'" class="btn btn-info">Back</button>
                </div>
            </div>
        }
    </div>

    @*<div class="tab-pane" id="list-tab">
            <div id="result"></div>
            <div>
                <ul class="pager">
                    <li><a href="pageNo=0">First</a></li>
                    <li><a href="pageNo-=1">Prev</a></li>
                    <li><span id="pageNo"></span>/<span>@ViewBag.PageCount</span></li>
                    <li><a href="pageNo+=1">Next</a></li>
                    <li><a href="pageNo=pageCount-1">Last</a></li>
                </ul>
            </div>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        //$(function () {
        //    $("#SupplierId").change(function () {
        //        var id = $(this).val();
        //        $("#SupplierId-Text").val(id);
        //    });
        //})
        $(function () {
            $(document).ready(function () {
                $("#NoteDate").datepicker();
                CKEDITOR.replace("Note");
            });
        })
    </script>

    @*<script>
            $(function () {

                $("ul.pager a").click(function () {
                    eval($(this).attr("href"));
                    fnLoadPage();
                    return false;
                });
            });
        </script>*@
}