@model Student
@{
    ViewBag.Title = "Quản lý học viên";
    var linkAdd = "/Admin/Home/AddDetail/" + Model.StudentID.ToString();
}

<h2>Quản lý học viên</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#add-tab" role="tab" data-toggle="tab">Edit</a></li>
    @*<li class="active"><a href="#edit-tab" role="tab" data-toggle="tab">Edit</a></li>*@
    @*<li><a href="#list-tab" role="tab" data-toggle="tab">List</a></li>*@
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane active" id="add-tab">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <br />
            <br />

            <div class="form-group">
                <label for="FullName" class="col-md-2 control-label">Họ và tên:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="DateOfBirth" class="col-md-2 control-label">Ngày tháng năm sinh:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="Hometown" class="col-md-2 control-label">Quê quán:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Hometown, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="Passport" class="col-md-2 control-label">Passport:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Passport, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="PassDate" class="col-md-2 control-label">Nhập học:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.JoinDate, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="PassDate" class="col-md-2 control-label">Trúng tuyển:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.PassDate, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="PassDate" class="col-md-2 control-label">Nghiệp đoàn:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Syndication, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="ReceivingCompany" class="col-md-2 control-label">Công ty tiếp nhận:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.ReceivingCompany, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="ExitDate" class="col-md-2 control-label">Dự kiến xuất cảnh:</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.ExitDate, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="Gender" class="col-md-2 control-label">Status:</label>
                <div class="col-md-2">
                    <label>
                        @Html.CheckBoxFor(m => m.Status, new { @class = "form-control" }) Japan
                    </label>
                </div>
            </div>

            <div class="form-group hidden">
                @Html.TextBoxFor(m => m.StudentID, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">

                    <button onclick="form.action = '/Admin/Home/Update'" class="btn btn-default">Update</button>
                    <button onclick="form.action = '/Admin/Home/Index'" class="btn btn-info">Back</button>
                </div>
            </div>
        }
    </div>

    @*<div class="tab-pane" id="list-tab">
            <div id="result"></div>
            <div>
                <ul class="pager">
                    <li><a href="pageNo=0">First</a></li>
                    <li><a href="pageNo-=1">Prev</a></li>
                    <li><span id="pageNo"></span>/<span>@ViewBag.PageCount</span></li>
                    <li><a href="pageNo+=1">Next</a></li>
                    <li><a href="pageNo=pageCount-1">Last</a></li>
                </ul>
            </div>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        //$(function () {
        //    $("#SupplierId").change(function () {
        //        var id = $(this).val();
        //        $("#SupplierId-Text").val(id);
        //    });
        //})
        $(function () {
            $(document).ready(function () {
                $("#DateOfBirth").datepicker();
                $("#NoteDate").datepicker();
                CKEDITOR.replace("Note");
            });
        })
    </script>

    @*<script>
            $(function () {

                $("ul.pager a").click(function () {
                    eval($(this).attr("href"));
                    fnLoadPage();
                    return false;
                });
            });
        </script>*@
}