@model Category
@{
    ViewBag.Title = "Quản lý chủng loại";
}

<h2>Quản lý chủng loại</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#edit-tab" role="tab" data-toggle="tab">Edit</a></li>
    <li><a href="#list-tab" role="tab" data-toggle="tab">List</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="edit-tab">
        @using (Html.BeginForm("Index", "Category",
                    FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NameVN, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.NameVN, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ParentId, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.ParentId, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button onclick="form.action = '/Admin/Category/Insert'" class="btn btn-default">Insert</button>
                    <button onclick="form.action = '/Admin/Category/Update'" class="btn btn-default">Update</button>
                    <button onclick="form.action = '/Admin/Category/Delete'" class="btn btn-default">Delete</button>
                    <button onclick="form.action = '/Admin/Category/Index'" class="btn btn-default">Reset</button>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane" id="list-tab">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (Category c in ViewBag.Category)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@c.NameVN</td>
                    <td>
                        <a href="/Admin/Category/Delete/@c.Id">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a href="/Admin/Category/Edit/@c.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $(":file").change(function () {
                $.ajax({
                    url: '/Supplier/Upload',
                    data: new FormData($("form:eq(0)").get(0)),
                    contentType: false,
                    processData: false,
                    type: "POST",
                    success: function (response) {
                        $("#Logo").val(response);
                    }
                });
            });
        })
    </script>
}